body {
    background-color: burlywood;
    margin: 0;
}

.header {
    color: white;
    background-color: wheat;
    margin-top: 0px;
    padding: 20px;
    margin-bottom: 0;
}   

.container {
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
}

.card {
    width: 200px;   
    height: 200px;
    background-color: cadetblue;
    margin-bottom: 20px;
    margin-top: 20px;
}